<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Armut</string>
		<key>price</key>
		<string>kg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Defter</string>
		<key>price</key>
		<string>adet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kalem</string>
		<key>price</key>
		<string>adet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ekmek</string>
		<key>price</key>
		<string>adet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Su</string>
		<key>price</key>
		<string>lt</string>
	</dict>
</array>
</plist>
